In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
data2014 = pd.read_csv("Output/2014dataset.csv",low_memory=False)
data2015 = pd.read_csv("Output/2015dataset.csv",low_memory=False)

def getmm(group):
    if group == "i":
        return "7.4Membermonths2HealthInsuranceINDIVIDUALTotalasof3/31/15"
    elif group == "sg":
        return "7.4Membermonths7HealthInsuranceSMALLGROUPTotalasof3/31/15"
    else:
        return ""

In [9]:
# enrollment dynamics / state

def enrollment_dynamics(dataset1, dataset2, dataset1label, dataset2label):
    states = dataset1["STATE"].drop_duplicates()
    mmi = getmm("i")
    mmsg = getmm("sg")
    print("State,"+ str(dataset2label) + "minus" + str(dataset1label) + "MMIndividual," + 
          str(dataset2label) + "minus" + str(dataset1label) + "MMSmallGroup")
    for state in states:
        temp1 = dataset1.where(dataset1["STATE"] == state).dropna(how='all')
        temp2 = dataset2.where(dataset2["STATE"] == state).dropna(how='all')
        sum_mm_ind = (sum(temp2[mmi].convert_objects(convert_numeric=True).dropna())
                        - sum(temp1[mmi].convert_objects(convert_numeric=True).dropna()))
        sum_mm_sg = (sum(temp2[mmsg].convert_objects(convert_numeric=True).dropna())
                        - sum(temp1[mmsg].convert_objects(convert_numeric=True).dropna()))
        print(str(state) + "," + str(sum_mm_ind) + "," + str(sum_mm_sg))

In [10]:
enrollment_dynamics(data2014, data2015, "2014", "2015")

State,2015minus2014MMIndividual,2015minus2014MMSmallGroup
AK,66745.0,-17824.0
AL,589986.0,-425387.0
AR,836971.0,-11362.0
AZ,673676.0,-129359.0
CA,4560586.0,726564.0
CO,331198.0,-156987.0
CT,296322.0,-270998.0
DC,10521.0,-14218.0
DE,-26394.0,-33303.0
FL,5576793.0,-497936.0
GA,1401745.0,-418924.0
HI,142128.0,-404657.0
IA,-83854.0,25736.0
ID,-22458.0,-22959.0
IL,1126874.0,-550536.0
IN,420047.0,-383135.0
KS,292743.0,-255749.0
KY,-11657.0,-133197.0
LA,585620.0,-230462.0
MA,1663221.0,-664400.0
MD,952360.0,-331410.0
ME,363087.0,-4789.0
MI,377308.0,-523962.0
MN,230990.0,-177016.0
MO,767466.0,-347122.0
MS,120729.0,-20104.0
MT,183448.0,-54761.0
NC,1430382.0,-363476.0
ND,82535.0,-29695.0
NE,83201.0,-71303.0
NH,100777.0,-46769.0
NJ,580285.0,-1511915.0
NM,111112.0,7722.0
NV,340238.0,-143245.0
NY,1397815.0,-1357221.0
OH,391286.0,-937993.0
OK,375057.0,-68446.0
OR,446674.0,-194372.0
PA,730138.0,-863302.0
RI,70081.0,-68035.0
SC,861284.0,-71891.0
SD,63113.0,-4013.0
TN,722497.0,-146794.0
TX,3835221.0,-740580.0
UT,383527.0,-227338.0
VA,1481468.0,-192200.0
WA,168971.0,149551.0
WI,520705.0,-186445.0
WV,105918.0,-27609.0
WY,56277.0,-12612.0

In [ ]:
# distribution of profit margins / net profit

# see excel